:root {
  --bg-color: #e6c0ea;
  --second-bg-color: #54b67698;
  --text-color: rgb(96, 25, 92);
  --main-color: #add2a4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  font-size: 40%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}


h1 {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: 7rem;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
  font-weight:bold;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 15%;
  background-color: rgba(13, 128, 15, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-size: 3rem;
  color:#5f006dda;
  font-weight: 800;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar a {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 300;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.home {
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left; 
  max-width: 600px;
  max-height: 300px;
}

.home-content h1 {
  margin-top: 1.5rem;
  line-height: 1;
}

.home-content h3 {
  margin: 1rem 0;
  text-align: left;
}

.home-content p {
  font-weight: 500;
  font-size: 13px;
  text-align: justify; 
  margin-bottom: 2rem;
}
 
.home-container{
  gap:rem;
  margin-bottom: r2em;
  margin-top: 2rem;
}


.profile {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
.title{
  margin-top: 18rem;
  text-align: center;
}
.experience-container ,.skills-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color:rgb(96, 25, 92);
  border-radius: 1rem 3rem;
  border: 2px dotted #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  gap: 2rem;
  margin: 4rem auto;
  max-width: 1000px;
  transition: transform 0.3s ease;
}

.experience-container:hover,.skills-container:hover {
  transform: scale(1.02);
}

.profile p2,
.profile p3 {
  display: block;
  width: 100%;
  font-size:4rem;
  font-weight: 600;
  margin-top: 1.5rem;
  color: white;
}

.profile ul {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.8;
  text-align: left;
  margin-left: 2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
}

.profile ul li {
  margin-bottom: 0.8rem;
  position: relative;
  left: 0;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-content {
  flex: 1;
  padding-right: 20px;
}

.home-img {
  flex: 1;
  text-align: right;
}

.home-img img {
  max-width:80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.3s ease-in-out;
}

.home-img img:hover{
   box-shadow: 0 0 25px var(--main-color),
                0 0  50px var(--main-color),
                0 0 100px var(--main-color);
}


@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    text-align: center;
  }

  .home-content {
    padding-right: 0;
  }

  .home-img {
    text-align: center;
    margin-top: 20px;
  }
}


.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: rgb(131, 26, 131);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  color:#ffffff;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color);
}

.btn-group {
  display: flex;
  gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: black;
}

section {
  min-height: 100vh;
  padding: 10rem 15%;
}

.heading {
  text-align: center;
  font-size: 7rem;
  margin: 5rem 0;
}

.lifestyle{
  flex-direction:column-reverse;
}

.lifestyle-content p{
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.lifestyle h2{
  margin:1rem 0;
  margin-top: 2rem;
    }

.lifestyle-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.lifestyle-card {
  background: #fff0ff;
  border-radius: 1rem;
  width: 300px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  overflow: hidden;
}

.lifestyle-card:hover {
  transform: translateY(-8px);
}

.lifestyle-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card-content {
  padding: 1.5rem;
}

.card-content h3 {
  color: #9e00a4;
  margin-bottom: 0.8rem;
}

.card-content p {
  font-size: 2rem;
  color: #444;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .lifestyle-cards {
    flex-direction: column;
    align-items: center;
  }
}

.poll-section {
  background-color:#fff0ff;
  min-width: 925px;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  justify-content: center;
}

.poll-section h3{
  font-weight:bold;
  font-size: 18px;
  margin-bottom: 2px;
}

label {
  display: block;
  margin: 1px 0;
  font-size: 12px;
  color:var(--text-color);
}

button {
  margin-top: 6px;
  padding: 5px 20px;
  background-color:var(--text-color);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.galleries {
  background:var(--bg-color);
}

.galleries-section {
  padding: 4rem;
  max-width: 1000px;
  margin: 0 auto;
}

.galleries-section h2 {
  font-size: 2rem;
  text-align: center;
}

.galleries p {
  font-size: 13px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 4rem;
}

.gallery-item {
  width: 280px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

.gallery-item p {
  padding: 1rem;
  font-weight: bold;
  color: #333;
}

.gallery-item h3{
  font-size: 1.8rem;
  font-weight: normal;
  color: black;
}

.graphic{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.infographic,video-section{
  width: 650px;
  height: fit-content;
  background:white;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}



.infographic h3{
  color:white;
  background-color: var(--text-color);
}

.routine-table {
    width: 100%;
    border-collapse: collapse;
    margin-top:0.1rem;
    border-color: #000000;
    font-size: 12px;
}

.routine-table th {
    background-color:var(--text-color);
    color: #fff0ff;
    padding: 8px;
    text-align: center;
    font-size: 12px;
  
}

.routine-table td {
    padding: 8px;
    border-bottom: 1px solid#fff0ff;
    border: #5f006dda;
}

.routine-table tr:nth-child(even) {
    background-color: #fff0ff;
}

.routine-table tr:hover {
    background-color:var(--main-color);
}

.time-col {
    font-weight: bold;
    color: #2c3e50;
    width: 15%;
}

.activity-col {
    width: 15%;
}

.mood-col {
    width: 15%;
    text-align: center;
}

.mood-emoji {
    font-size: 3rem;
}

@media (max-width: 500px) {
    .routine-table {
        display: block;
        overflow-x: auto;
    }
}


.video-section iframe{
  width: 600px;
  height: 250px;
  margin-left: 32rem;
  border-radius: 10px;
}

.video-section h3{
  text-align: center;
}
.video-section figcaption{
  font-size: 12px;
  text-align: justify;
}
.more {
    background-color:var(--bg-color);
}

.more-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  gap: 3rem;
  row-gap: 5rem;
}

.more-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  border-radius: 3rem;
  gap: 2rem;
  padding: 5rem 2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px var(--main-color);
  transition: all 0.3s ease;
  font-size: 14px;
}

.more-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px var(--main-color);
}

.contact {
  background-color: var(--bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--text-color);
  margin: 1.5rem 0;
  resize: none;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom:4rem;
  /* width: 350px; */
}

.social-icons p{
  font-size: 11px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 6rem;
  height: 6rem;
  background: transparent;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  color:var(--text-color);
  transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
  color: var(--text-color);
  background-color: var(--main-color);
  transform: scale(1.2) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
}

.footer {
  background-color:rgba(33, 96, 33, 0.585);
  padding: 5rem 0;
  text-align: center;
}

.footer ul {
  list-style: none;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.footer ul li {
  display: inline-block;
  margin: 0 1rem;
}

.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease-in-out;
  padding-bottom: 0.5rem;
}

.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}

.copyright {
  font-size: 1.6rem;
  color:white;
  margin-top: 4rem;
  opacity: 0.8;

}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

@media (max-width: 1285px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 3rem 5%;
  }

  .home,
  .lifestyle {
    flex-direction: column;
    gap: 5rem;
    text-align: center;
  }

  .home-content {
    align-items: center;
    text-align: center;
  }

  .home-img img {
    width: 60vw;
  }

  .lifestyle-img {
    width: 80vw;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 1rem 3rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid var(--main-color);
    display: none;
    flex-direction: column;
  }

  .navbar.active {
    display: flex;
  }

  .navbar a {
    margin: 1.5rem 0;
  }

  .gradient-btn {
    display: none;
  }

  .more-box {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 5rem;
  }

  .btn-group {
    flex-direction: column;
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .gallery-item {
    width: 100%;
  }
}